.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: black;
  color: yellow;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
